</div>

<div class="jumbotron">
  <p align="center"><h1>PartLister</h1></p>
  <%= image_tag("HighFlyer.png", alt: "Sample") %>
</div>

<br>

<div class="container-narrow">
  <p align="center">
    <strong>
    PartList helps you store and share your parts list. Create your new project, link to your images and videos then add your parts. Then share with the world.
    </strong>
  </p>

