<p>
  <ul>
    <li><strong>30th July Feature:</strong> Added pagination when 30 or more projects.</li>
    <li><strong>30th July Bug:</strong> No link provided was creating dummy link.</li>
    <li><strong>30th July UI:</strong> Only show image/video/build link when exists</li>
    <li><strong>28th July Feature:</strong> Sign up no longer required to create project</li>
    <li><strong>28th July Feature:</strong> Parts now contain link and cost, total cost is tallied</li>
    <li><strong>28th July UI:</strong> Added footer to select pages</li>
    <li><strong>19th June</strong> First iteration launch</li>

<!--
		<li><strong></strong></li>
--!>
	</ul>
</p>

<%= render partial: 'shared/footer' %>

