<% if object.errors.any? %>
  <div class="alert alert-error">
    <p>
      <strong>Hold on there!</strong> Looks like you might have missed something.
    </p>
	</div>
  <div class="alert alert-warning">
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

