<% if !signed_in? %>
	<div class= "alert alert-error">
		<strong>Warning!</strong> You are creating a project without an account. The project won't be added to your account. Sign up if you would like to store the projects you create under your username.<br>
		You will have 60 minutes to add your parts from the time you submit this form, so have your links ready!
	</div>
<% end %>

<%= render 'form' %>

