<% if !signed_in? %>
	<div class= "alert alert-error">
		<strong>Warning!</strong> You are creating a project without being signed in. This means the project won't be added to your account once its created. Sign up if you would like to store the projects you create under your username.
	</div>
<% end %>

<%= render 'form' %>

