<p id="notice"><%= notice %></p>

<% if !@projects.empty? %>
	<%= render partial: 'shared/show_projects', collection: @projects %>
<% else %>
	<div class="alert alert-warning">
		Sorry, there are no projects under this category yet.
	</div>
<% end %>

